body{
	margin:0;
	padding:0;
	background-image: url(lib3.jpg);
	background-size: cover;
	background-position: 0 -200px;
	font-family: sans-serif;
}

.loginbox{
	width: 320px;
	//height: 420px;
	background: #000;
	color: #fff;
	opacity: 0.8;
	border-radius: 0 20px 0 20px;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);	
	box-sizing: border-box;
	padding: 60px 35px;
}

.invalidmsg{
	width: 320px;
	height: 40px;
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.avatar{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: absolute;
	background: #000;
	top: 20px;
	left: calc(50% - 50px);
}

.loginbox h1{
	margin: 0;
	padding-bottom: 10px;
	text-align: center;
	font-family: lucida handwriting;
	//font-family: 'Special Elite', cursive;
	font-size: 25px;
}


.loginbox p{
	margin:0;
	padding: 0;
	font-weight: bold;
	letter-spacing: 0.05em;
	margin-top: 20px;
	font-size: 18px;
	//font-family: 'Cinzel', serif;
	font-family: 'Alegreya Sans SC', sans-serif;
}

.loginbox input{
	width: 100%;
	//margin-bottom: 20px;
}

.loginbox input[type="text"],input[type="password"]
{
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 35px;
	color: #fff;
	letter-spacing: 0.05em;
	font-size: 16px;
	padding-left: 10px;
	font-family: 'Baloo Chettan 2', cursive;
}

.loginbox input[type="text"],input[type="password"]:focus
{	
	outline: none !important;
}

.loginbox .form-control
{
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.loginbox .form-group{
	padding-top: 20px;
	
}

.loginbox .form-control:focus{
	outline: none !important;
}

.loginbox .form-control:active
{
	//border-color: #000 !important;
	outline: none !important;
}

.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	margin-top: 10px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	font-family: 'Roboto Mono', monospace;
	letter-spacing: 0.05em;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #fb3e25;
	color: #fff;
}
.loginbox input[type="submit"]:active
{
	transform: scale(0.97);
}

.loginbox a{
	text-decoration: none;
	font-size: 15px;
	line-height: 20px;
	color: darkgrey;
}

.loginbox a:hover
{
	color: #fff;
}

.loginbox .far,.fas
{
	margin-right: 8px;
}

.navbar-custom .container-fluid .collapse .navbar-nav .nav-item .active{
	background: #1c1c1c;
	color: #fb2525;
	border-radius: 10px;
	font-weight: bold;
	
}

.navbar-custom .container-fluid .collapse .navbar-nav .nav-item{
	margin-left: 10px;
	font-family: 'Roboto Mono', monospace;
	
}

.navbar-custom{
	opacity: 0.9;
	background: #000;
	transition: all 0.5s;
	
}